.article {
  padding: 0 16px;
  width: auto;
}
.article {
  position: relative;
  border-bottom: solid 1px black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.article-grid1, .article-grid4, .article-grid5, .article-grid6 {
  border-right: solid 1px black;
}

.article-citation {
  text-align: center;
  h3 {
    width: 60%;
    font-family: "hatton";
    font-weight: 200;
    font-size: 1.6rem;
  }
}

.article-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 12px;
  h2 {
    text-transform: uppercase;
    margin: 0px;
    font-size: 18px;
    font-weight: 200;
  }
}

.article-img {
  height: 80%;
  img {
    object-fit: cover;
    max-width:100%;
  }
}

.article-content {
  position: absolute;
  bottom: 24px;
  margin-top: 24px;
  span {
    font-weight: 700;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
  }
}

.article-content {
  p {
    margin: 0;
    font-weight: lighter;
  }
}
