main {
  border-top: solid 1px black;
}

.grid-container {
  margin: 0 128px;
  height: 1200px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article-grid1 { grid-area: 1 / 1 / 6 / 5; }
.article-grid2 { grid-area: 1 / 5 / 4 / 7; }
.article-grid3 { grid-area: 4 / 5 / 7 / 7; }
.article-grid4 { grid-area: 6 / 1 / 9 / 3; }
.article-grid5 { grid-area: 6 / 3 / 9 / 5; }
.article-grid6 { grid-area: 7 / 5 / 9 / 6; }
.article-grid7 { grid-area: 7 / 6 / 9 / 7; }
