body {
  margin: 0px;
}

header {
  margin: 16px 40px 8px 40px;
}

nav {
  position: sticky;
  top: 16px;
  margin: 16px 40px 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  z-index: 1;
}

h1 {
  font-family: "hatton";
  font-weight: 200;
  font-size: 9rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  margin: 0px 68px;
}

.title-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
